.wrapper{
    padding: 20px;
    background: #dee4c6;
    border-radius: 15px;
    margin-bottom: 40px;
}
.input__wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    min-width: 500px;
}



